{% extends 'base.html.twig' %}

{% block title %}Lista de Equipos{% endblock %}

{% block body %}
<body style="background-color: #f5f3f6;">
    <h2>Lista de Equipos</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Creación</th>
        </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.id }}</td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.fundacion }}</td>
                <td>{{ equipo.socios }}</td>
                <td>{{ equipo.ciudad }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay equipos disponibles.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
